
.c-list__rating {
    height: 15px;
    transform: translateY(-2px);
}

.c-list__rating .rate span {
    width: 19px;
    height: 18px;
    margin-right: 2px;
    background: url("/svg/star-f.svg") center center no-repeat;
}

.c-list__rating .rate span.checked {
    background: url("/svg/star-a.svg") center center no-repeat;
}

.rating-stars{
    cursor: pointer;
}

.c-prop{
    cursor: pointer;
}